.profile {
  background-color: rgb(138, 143, 131);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #212c3f;
  overflow: hidden;
  @media only screen and (max-width: 600px) {
    font-size: 0.6rem;
    padding: 0.1rem;
  }
  .button__backtoprofiles {
    background-color: #f36832;
    padding: 0.2rem;
    border-radius: 1px;
    text-decoration: none;
    color: #dadada;
  }
  &__content {
    display: flex;
    overflow-y: scroll;

    flex-direction: column;
    scroll-behavior: smooth;
  }
  &__content::-webkit-scrollbar-track {
    background: #f1dada;
    border-radius: 3px;
  }
  &__content::-webkit-scrollbar-thumb {
    background: rgb(61, 49, 49);
    border-radius: 3px;
  }
  &__content::-webkit-scrollbar {
    width: 7px;
  }
}

.view__profile {
  &-creds-exp {
    display: flex;
    flex-direction: column;
    flex: 100%;
  }
  &-header,
  &-bio,
  &-creds,
  &-github {
    display: flex;
    background-color: #dadada;
    border-radius: 1px;
    padding: 0.5rem;
    margin: 0.2rem;
  }

  &-header {
    justify-content: start;
    font-size: 0.7rem;
    align-items: center;
    a {
      color: #212c3f;
      margin-right: 0.5rem;

      &:hover {
        color: #464646;
      }
    }
    img {
      width: 5rem;
      height: 5rem;
      margin-right: 2rem;
    }
  }
  &-social {
    margin-left: 2rem;
  }
  &-bio {
    justify-content: space-around;
  }
  &-skills ul {
    display: inline-block;
    list-style: none;
    margin: 0.2rem;
  }
  &-creds {
    padding: 0.5rem 1.5rem;
    flex-direction: row;
    justify-content: space-between;
  }
  &-github {
    flex-direction: column;

    .badges {
      margin-top: 0.2rem;
    }
    span {
      margin-right: 0.4rem;
      padding: 0.2rem;
    }
    .badge-info,
    .badge-secondary,
    .badge-success {
      color: #f1dada;
      border-radius: 1px;
    }
    .badge-info {
      background-color: #696969;
    }
    .badge-success {
      background-color: #12813d;
    }
    .badge-secondary {
      background-color: #2071fc;
    }
    a {
      color: #f36832;
      text-decoration: none;
      font-size: 0.8rem;
    }
    .repo_cards {
      @media only screen and (max-width: 600px) {
        flex-direction: column;
      }
      display: flex;
      flex-direction: row;
      margin: 0.5rem 0.5rem;
    }

    .repo_card {
      background-color: rgb(235, 238, 237);
      border-radius: 2px;
      padding: 0.5rem 0.7rem;
      margin: 0.2rem;
      font-size: 0.6rem;
      width: 100%;
    }
  }
}
